<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome in MoviesApp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <script>

  </script>
  <body>
    <h1>Movies RESTful API</h1>
    <h2>Add comment</h2>
    <form method="POST" action="/api/comments">
        <div class="form__div">
            <label>Comment</label>
            <input type="textarea" name="comment" placeholder="What you think about this movie?" />
        </div>

        <button type="submit">Send</button>
    </form>
    <p>METHOD - POST</p>
    <p>(if you pass both: title and OMDB ID, OMDB IS will be overriding)</p>
  </body>
</html>